<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio Palma Hotel - Reservas</title>
    <link rel="stylesheet" href="/css/style.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body class="nosotros-page">

    <header>
        <div class="logo">
            <a href="/index.html">  <!-- Enlace al inicio -->
                <img src="/img/logo.png" alt="Bio Palma Hotel">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/pages/nostros.html">🍽 Nosotros</a></li>
                <li><a href="pages/coworking.html">💼 Espacio Coworking</a></li>
                <li><a href="pages/login.html">👤 Inicio de sesión o registro</a></li>
            </ul>
        </nav>
    </header>
    

   <section class="nosotros-section">
        <h1>Sobre nosotros</h1>
        <p>Bienvenido a Bio Palma Hotel, donde la naturaleza y el confort se encuentran.</p>
   </section>

</body>
</html>
